#!/bin/bash

# Clear everything, start fresh
dockutil --remove all --no-restart

# Add Relevant Icons
dockutil --add '/Applications/1Password.app' --no-restart
dockutil --add '/Applications/Notion.app' --no-restart
dockutil --add '/Applications/Todoist.app' --no-restart
dockutil --add '/Applications/kitty.app' --no-restart
dockutil --add '/Applications/Visual Studio Code.app' --no-restart
dockutil --add '/System/Applications/System Settings.app' --no-restart

killall Dock

